.cards {
  display: flex;
  justify-content: center;
  height: 350px;
}

.card {
  width: 15%;
  height: 70%;
  margin: 0 48px;
  box-shadow: 2px 2px 24px rgb(200, 200, 200);
  text-align: center;
}

.card > p {
  padding: 4px;
}

.card > img {
  margin-top: 12px;
  height: 40%;
  width: 60%;
  object-fit: center;
}
