.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #102542;
  height: 200px;
}

.footer > p {
  color: white;
}
.footer > ul {
  list-style-type: none;
  padding-left: 0;
}

.footer > ul > li {
  display: inline;
}

.footer > ul > li > a {
  color: #A9FBD7;
  font-size: 30px;
  margin: 0 12px;
}

.footer > ul > li > a:hover {
  color: white;
}
